<h1>Welcome, @ViewBag.Username !</h1>

<h2>Change your password</h2>

<form action="/home/password" method="post">
    <label for="password">New password : </label>
    <input type="password" name="NewPassword" id="password"/> <br/>
    
    <button type="submit">Change your password</button>
</form>